<a href="https://colab.research.google.com/github/theSavageseens/Analyzer/blob/master/Week_4_Functions_Tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1- Write a Python function to find the Max of three numbers.**

In [2]:
def MaxOfTwo(x,y):
  if x > y:
    return x
  if y > x:
    return y

def MaxOfThree(x,y,z):
  return MaxOfTwo(x, MaxOfTwo(y,z))

MaxOfThree(3,5,4)

5

**2- Write a Python function to sum all the numbers in a list.**

In [3]:
def Sum(n):
  list = 0
  for x in n:
    list += x
  return list

Sum([1,3,4,5,6,7])

26

**3- Write a Python function to check whether a number is in a given range.**

In [6]:
def CheckRange(a,x,y):
  if a in range(x,y):
    return "good"
  return "not good"

CheckRange(8,1,5)

'not good'

**4- Write a Python program to reverse a string.**

In [7]:
def Reverse(x):
  return x[::-1]


Reverse("mimo")

'omim'

**5- Write a Python function that takes a number as a parameter and check the number is prime or not.**

In [9]:
def test_prime(n):
    if (n==1):
        return "Yes"
    elif (n==2):
        return "No"
    else:
        for x in range(2,n):
            if(n % x==0):
                return "No"
        return "Yes"             
print(test_prime(38))

No

**6- Write a Python function that prints out the first n rows of Pascal's triangle.**

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1]]

**7- Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g., madam, anna, civic, kayak, level, mom, noon.

In [25]:
def checkPalindrome(n):
  first_index = 0
  last_index = len(n) - 1

  while first_index <= last_index:
    if n[first_index] == n[last_index]:
        return True
    return False
    first_index += 1
    last_index -= 1


print(checkPalindrome("rtysd"))

False

**8- Write a Python function that takes a list and returns a new list with unique elements of the first list.**

In [27]:
def unique(list):
  x = []
  for i in list:
    if i not in x:
      x.append(i)
  return x

unique([1,2,2,2,3,4,5])

[1, 2, 3, 4, 5]

**9- Write a function to sort a list of tuples by the second item.**

Example: 

Input is `tup =[('for', 24), ('is', 10), ('Geeks', 28), ('Geeksforgeeks', 5), ('portal', 20), ('a', 15)]`  

The output that we want is `[('Geeksforgeeks', 5), ('is', 10), ('a', 15), ('portal', 20), ('for', 24), ('Geeks', 28)]`

In [35]:
def sortTuple(tup): 
  tup.sort(key=lambda x:x[1])
  return tup

tuple =[('for', 24), ('is', 10), ('Geeks', 28), ('Geeksforgeeks', 5), ('portal', 20), ('a', 15)]


print(sortTuple(tuple))

[('Geeksforgeeks', 5), ('is', 10), ('a', 15), ('portal', 20), ('for', 24), ('Geeks', 28)]